/* ==========================================================================
   Cart
   ========================================================================== */
.cart-container {
    /* for sticky header */
    padding-top: calc(36px + 1.4em + 1.2em + 25px); 
}

/* ==========================================================================
   Cart Products
   ========================================================================== */




















/* ==========================================================================
   Form
   ========================================================================== */





















/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 701px) {
    .cart-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
        /* padding-top: 0; take out padding for sticky header */
    }

}



    
@media only screen and (min-width: 1001px) {
    .cart-container {
        padding-top: 0; /* take out padding for sticky header */
        
    }

    .black-bar {
        display: block;
        background-color: #313538;
        width: 100%;
        height: 20px;
    }

}

