/* ==========================================================================
   Cart
   ========================================================================== */
   /* container for entire cart main page */
.cart-container {
    /* for sticky header */
    padding-top: calc(36px + 1.4em + 1.2em + 25px); 
    margin: 1em auto;
    font-family: "Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
    color: #3f3a3a;
    box-sizing: border-box;
    /* text-align: right; */
    max-width: 980px;
    width: 90%;
    
}

/* ==========================================================================
   Cart Products
   ========================================================================== */

/* entire cart container */
.cart{
    border: 1px solid #979797;
    padding:0.5em;
    /* margin: 0 0.5em; */
}

/* cart titles */
.cart-title {
    font-size: 1.1em;
    font-weight: 550;
    letter-spacing: 2px;
}

/* each individual product's container */
.cart-product {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1em;

}



.cart-product div {
    padding:0.5em;
}

/* main image */
.cart-img {
    width: 35%;
    display: inline-block;
}

/* product details */
.cart-details {
    display: inline-block;
    /* padding: 0 0.5em; */
    line-height: 1.5em;
}

/* remove icon */
.cart-remove {
    display: inline-block;
    width: 45px;
    height: 45px;
}

/* dropdown menu for qty */
.cart-qty::before {
    display: block;
    content: "數量";
}

.cart-qty {
    display: block;
}

.cart-qty select{
    padding: 3px;
    border-radius: 4px;
    border: 1px solid #979797;
    background-color: #f3f3f3;
    text-align: center;
}

/* product unit price */
.cart-price::before {
    content: "單價: ";
    display: block;
    text-align: center;
}
.cart-price {
    display: block;
}

/* product subtotal */
.cart-subtotal::before {
    content: "小計: ";
    display: block;
    text-align: center;
}
.cart-subtotal {
    display: block;
}










/* ==========================================================================
   Form
   ========================================================================== */

.shipping {
    background-color: #e8e8e8;
    padding: 1em;
    display: block;
    /* justify-content: space-evenly;  */
    text-align: left;
    margin: 1em 0;


}


.shipping select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #979797;

}

.reminder {
    padding: 0.5em 0;
}

.form {
    line-height: 200%;
    padding: 0.5em 0;
   

}

.form input {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #979797;
    width: 96%;
}

.form-time {
    padding: 0.5em 0;
    padding-bottom: 1em;
}

.time input {
    width: auto;
}



/* total price calculation */
.total {
    text-align: right;
}
.total-table {
    text-align: right;
    padding: 1em 0;
    line-height: 250%;
    display: inline-block;
}

/* make prices font larger */
.total-row :last-child {
   font-size: 1.3em;
}

.line {
    height: 1px;
    background-color: #3f3a3a;
    display: table-row;

}

.total-row {
    display: table-row;
}

.total-row div{
    display: table-cell;
    padding-left: 1em;
}

.total-hd {
    text-align: left;
}


/* submit button */
.submit-buy {
    background-color: black;
    color: white;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
    letter-spacing: 4px;
    display: block;
    margin-left: auto;

}








/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 701px) {
    .cart-container {

        /* padding-top: 0; take out padding for sticky header */
    }







   /* submit button */
.submit-buy {
    max-width: 218px;

}


    
}



    
@media only screen and (min-width: 1001px) {
    .cart-container {
        padding-top: 0; /* take out padding for sticky header */ 
    }

    .black-bar {
        display: block;
        background-color: #313538;
        width: 100%;
        height: 20px;
    }

}

