@font-face {
    font-family: "PingFangTC-Regular";
    src: url(PingFang-TC-Regular.otf) format("opentype");
}

@import url(https://fonts.google.com/specimen/Noto+Sans+TC?selection.family=Noto+Sans+TC)


body {
    font-family: PingFangTC-Regular, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
}

.top-header {
    display: flex;
    align-items: center;
}

.logo {
    margin: auto;
    height: 36px;
    padding: 0.7em 0;
}

.search-icon {
    height: 36px;
    width: 36px;
    padding: 0.7em;
}

.noProduct {
    font-size: 2em;
    font-weight: 400;
    padding:3em 1em;
}

/* Navigation Bar */
.navbar {
    background-color: #313538;
    display: block;
    margin: auto;
    padding: 0.60em;
    text-align: center;
}

.navbar a {
    color: darkgrey;
    text-decoration: none;
    display:inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 32%;

}

.navbar a:hover {
    color: #d9d9d9;
}

/* mobile pop up search input */
.top-header form {
    margin: 0 auto;
    padding: 0.6em;
}

.nav-mobile-search {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #979797;
    height: 36px; 
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 98% center;
    vertical-align: middle;
}

/* hide desktop elements */
.nav-search,
.cart-icon,
.user-icon {
    display: none
}


/* Main Banner */
.main-banner {
    /* background-image:url('https://api.appworks-school.tw/assets/keyvisuals/201807242228.jpg'); */
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    height: 55vh;
    width:100%;
}

.banner-text {
    color: darkgrey;
    width: 250px;
    letter-spacing:2px;
    line-height: 250%;
    margin: 0 12%;
    padding-top: 20%;
    text-shadow: 0px 0px 5px #ffffff;
}


/* Main Product */
#main-content {
    box-sizing: border-box;
    text-align: center;
}

.product {
    font-size: 0.6em;
    text-decoration: none;
    width: 44%;
    display: inline-block;
    line-height:150%;
    margin: auto;
    color:#3f3a3a;
    margin: auto;
    padding: 0.7em;
    text-align: left;
    letter-spacing: 3px;
}  

.product img {
    width:100%;
}

.color {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 0.02px solid rgb(204, 204, 204);
}

/* feature-mobile */
.feature-mobile {
    position: fixed;
    background-color: #313538;
    bottom: 0;
    width: 100%;
    padding: 0.75em;
}

.feature-mobile a{
    color:  #f5f5f5;
    text-decoration: none;
    display:inline-block;
    box-sizing: border-box;
    margin: auto;
    width: 48%;
    text-align: center;
    vertical-align: middle;
}

.feature-mobile a:hover {
    color: lightgrey;
}

.menu-line {
    border-style: none solid none none;
    border-color: #f5f5f5;
    border-width: 1.5px;
}

.feature-mobile img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

/* Footer */
.footer-container {
    background-color: #313538;
    font-size: 0.8em;
    padding-top: 2em;
    padding-bottom: 7em;
    margin: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.column-menu,
.column-social {
    line-height: 30px;
    box-sizing: border-box;
    justify-content: center;
}

.column-menu {
    width: 170px;
    column-count: 2;
}

.column-social {
    width: 90px;
}

.footer a {
    color: #f5f5f5;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    text-align: left;
}

.column-social img {
    height:20px;
    width:20px;
    vertical-align: middle;
}

.column-footer {
    color: rgba(169, 169, 169, 0.255);
    display: block;
    text-align: center;
    padding-left: 1.5em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 601px) and (max-width: 1000px) {
/* product column & % width */
.products{
    width:90%;
    margin:0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.product {
    font-size: 1.01em;
    text-decoration: none;
    width: 29%;
    display: inline-block;
    line-height:200%;
    margin: auto;
    color:#3f3a3a;
    padding: 0.5em;
}   

}

@media only screen and (min-width: 1001px) and (max-width: 1199px) {

/* Header - change to 1 line */
.header{
    display: flex;
    padding:1.5em 2em;

}

.logo{
    margin: 0 2em;
    padding-left:0;
}

.navbar {
    width: 30%;
    background-color: white;
    margin-left: 0;
}

.navbar a{
    color: #3f3a3a;
}

.dp-navright{
   margin: auto 0;
}

.dp-navright form {
    display: inline-block;
}

.search-icon {
    display:none;
}

.nav-search {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #979797;
    padding: 10px; 
    width: 130px;
    height: 20px; 
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 98% center;
    vertical-align: middle;
}

.cart-icon {
    display: inline-block;
    vertical-align: middle;
}

.user-icon {
    display: inline-block;
    vertical-align: middle;
}

/* Adjust Product */
.products {
    width:90%;
    margin:0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.product {
    text-decoration: none;
    width: 29%;
    display: inline-block;
    line-height:200%;
    font-size: 1.01em;
    margin: auto;
    color:#3f3a3a;
    padding: 0.5em;
}   

    /* feature-mobile - no show*/
.feature-mobile {
    display:none;
}

/* footer - one line */
.footer-container {
    text-align: center;
}

.footer {
    display:inline-block;
    justify-content: center;
}

.footer a{
    display: inline;
}

.footer-line {
    border-style: none solid none none;
    border-color: #f5f5f5;
    border-width: 1px;
    padding-right: 3em;
}

.column-menu,
.column-social,
.column-footer {
    display: inline;
}

.column-menu a{
    padding-left: 3em;
}

.column-social img{
    padding-left: 1em;
}

}

@media only screen and (min-width: 1200px) {
/* Header - change to 1 line */
.header{
    display: flex;
    padding:1.5em 2em;

}

.logo{
    margin: 0 3em;
    padding-left:0;
}

.navbar {
    width: 30%;
    background-color: white;
    margin-left: 0;
}

.navbar a{
    color: #3f3a3a;
}

.dp-navright{
   margin: auto 0;
}

.dp-navright form {
    display: inline-block;
}

.search-icon {
    display:none;
}

.nav-search {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #979797;
    padding: 10px; 
    width: 130px;
    height: 20px; 
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 98% center;
    vertical-align: middle;
}

.cart-icon {
    display: inline-block;
    vertical-align: middle;
}

.user-icon {
    display: inline-block;
    vertical-align: middle;
}

    /* Main Product - fixed width @ 1000px */
.products {
    width:1100px;
    margin:0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}

.product {
    text-decoration: none;
    width: 30%;
    display: inline-block;
    line-height:200%;
    font-size: 1.01em;
    margin: auto;
    color:#3f3a3a;
    margin: auto;
    padding: 1em;
}   

/* feature-mobile - no show*/
.feature-mobile {
    display:none;
}

/* footer - one line */
.footer-container {
    text-align: center;
}

.footer {
    display:inline-block;
    justify-content: center;
}

.footer a{
    display: inline;
}

.footer-line {
    border-style: none solid none none;
    border-color: #f5f5f5;
    border-width: 1px;
    padding-right: 3em;
}

.column-menu,
.column-social,
.column-footer {
    display: inline;
}

.column-menu a{
    padding-left: 3em;
}

.column-social img{
    padding-left: 1em;
}













}