/* ==========================================================================
   Product
   ========================================================================== */
.product-container {
    /* for sticky header */
    padding-top: calc(36px + 1.4em + 1.2em + 22px); 
}


/* Main Product Image */
.main-img {
    width:100%;
}

/* Details Container */
.details-container {
    margin:1.1em;
    color: #3f3a3a;
    letter-spacing: 3px;
}

.title {
    font-size: 1.1em;
    font-weight: 550;
}

.id {
    font-size: 0.9em;
    color: #bababa; 
    font-weight: 550;
}

.price {
    font-size: 1.1em;
    padding: 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.colors,
.size {
    align-items: center;
    padding: 0.5em 0;
}

/* Individual color boxes */
.colorbox {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 4px solid white;
    vertical-align: middle;
    box-shadow: 0px 0px 0.5px #bbbbbb;
    margin-left: 0.5em;
}

.selectColor {
    outline: 1px solid #979797;
}


/* Size circles */
.size-circle {
    background-color:#ececec;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.5em; 
    line-height: 30px;
}

.selectSize {
    background-color:black;
    color: white;
}

/* Quantity Button */
.qty-title {
    display: none;
}

.qty-box {
    box-sizing: border-box;
    border: 1px solid #979797;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    margin: 1em auto;
    display: flex;
}

.qty-box div {
    flex-grow:1;
    font-weight: 600;
}

.qty-no {
    color: #8b572a;
}

/* Add to cart button */
.add-cart{
    background-color: black;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
    justify-content: center;
    margin: 1em auto;
}

/* Specs  */
.specs {
    letter-spacing: 1px;
}

/* Description Container */
.description-container {
    text-align: center;
    margin: 1.25em;
    align-items: center;
    position: relative;
}

.description-title {
    color: #8b572a;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1em;

    /* line behind title */
    position: relative;
}

/* line behind title */
.description-title:before {
    border-top: 1px solid #3f3a3a;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}

/* line behind title */
.description-title span{
    background-color: white;
    z-index: 1;
    padding-right:1em;
}

.story {
    text-align: left;
    color: #3f3a3a;
    padding: 1.5em 0;
}

.image {
    width:100%;
    padding-bottom:1.5em;
    display: inline-block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 701px) {
.product-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    /* padding-top: 0; take out padding for sticky header */
}

.title, 
.price {
    font-size: 1.5em;
    font-weight: 600; 
}

/* Main Product Image */
.main-img {
    width:50%;
    margin: 1.1em;
    object-fit: contain;
}

.id {
    font-size: 1.1em;
    color: #bababa; 
    font-weight: 600;
}

.details-container {
    width: calc(50% - 6em)
}

.colors {
    font-size: 1.1em;
}

.size {
    font-size: 1.1em;
}

.size div {
    margin-left: 0.5em ;
}

/* show qty title */
.qty {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5em 0;
    font-size: 1.1em;
}

.qty-title {
    display: flex;
}

.qty-box {
    width: 63%;
    padding: 0.5em 0;
    margin: 0 0 0 1em;
}

/* Add to cart button */
.add-cart{
    width: 80%;
    margin-left: 0;
    font-size: 1.1em;
}

.specs {
    font-size: 1.1em;
}
    
}

@media only screen and (min-width: 1001px) {
.product-container {
    padding-top: 0; /* take out padding for sticky header */
    
}

.black-bar {
    display: block;
    background-color: #313538;
    width: 100%;
    height: 20px;
}

}